<div class="container">
          <section>

            <div class="row Spaccer">
                 <h3>Post Name</h3>
            </div>
            
            <div class="row Spaccer">
                     <div class="col-md-9">
                         <div class="form-group">
                            <textarea class="form-control" #description id="description" readonly>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</textarea> 
                         </div>
                     </div>
                     <div class="col-md-3">
                         <div class="row Spaccer">
                              <div class="col-md-4">
                                 <button class="btn btn-primary" >Edit</button> 
                                
                              </div>

                             <div class="col-md-8">
                                 <likedislike [likes] = "20" [dislikes] = "5" [isliked] = true [isDisliked] = false ></likedislike>
                             </div>
                         </div>
                         <div class="row Spaccer">
                                <div class="col-md-12">
                                     <label>Category:  Jobs</label>
                                </div>
                         </div>
                     </div>
            </div>

            <comment></comment>

            
          </section>
</div>
